---
import TextGradient from "../components/TextGradient.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="fmedinilla">
	<main>
		<h1>
			<TextGradient>fmedinilla</TextGradient>
		</h1>
	</main>
</Layout>

<style>
	main {
		display: grid;
		place-items: center;
		height: 100%;
	}

	h1 {
		color: #ddd;
		font-size: 5em;
		text-align: center;
		padding: 2rem;
	}
</style>
