---
const { to, type, id } = Astro.props;

const buttonType = type === "button";
---

{
    buttonType ? (
        <button id={id} class="button">
            <slot />
        </button>
    ) : (
        <a id={id} class="button" href={to}>
            <slot />
        </a>
    )
}

<style>
    .button {
        --color: var(--main-color);
        background-color: var(--color);
        padding: 1rem 2rem;
        text-align: center;
        font-weight: bold;
        border: 2px solid var(--color);
        border-radius: 4px;
        color: #fff;
    }

    .button:hover {
        background-color: hsla(30, 100%, 60%, 20%);
        color: var(--main-color);
    }
</style>
