---
import ContactOption from "./ContactOption.astro";
---

<section class="contact">
    <ContactOption type="email" value="info@fmedinilla.com" />
    <ContactOption type="telegram" value="fmedinilla" />
</section>

<style>
    .contact {
        display: flex;
        justify-content: space-around;
    }
</style>
