---
const { to } = Astro.props;
---

<li class="header__li">
    <a class="header__a" href={to}><slot /></a>
</li>

<style>
    .header__a {
        --w: 0;
        --h: 0;
        --b: 0;
        padding: 1rem 2rem;
        position: relative;
        outline: none;
    }
    .header__a::before,
    .header__a::after {
        position: absolute;
        content: "";
        width: var(--w);
        height: var(--h);
        border-top: var(--b) solid black;
        border-left: var(--b) solid black;
        transition:
            width 150ms ease-in-out,
            height 150ms ease-in-out,
            border 150ms ease-in-out;
    }
    .header__a::before {
        top: 0;
        left: 0;
    }
    .header__a::after {
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
    }
    .header__a:hover,
    .header__a:focus,
    .header__a:active {
        --w: 15px;
        --h: 15px;
        --b: 3px;
    }
</style>
