<p class="no-project">
    Estoy trabajando duro para crear mi primer proyecto... Gracias
    <span>😄</span>
</p>

<style>
    .no-project {
        font-size: 1.2em;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        padding: 1rem;
    }
    .no-project span {
        font-style: normal;
    }
</style>
