---
import Section from "../components/Section.astro";
---

<Section title="¿Qué he hecho?">
    <p class="p">
        Actualmente estoy trabajando en mi primer proyecto. ¡Gracias!
    </p>
</Section>

<style>
    .p {
        text-align: center;
        font-size: 1em;
        font-style: italic;
        font-weight: 700;
        margin-top: 1.5rem;

        color: hsl(0, 0%, 20%);
        border: 2px solid hsl(0, 0%, 60%);
        border-radius: 8px;
        padding: 1rem;
        background-color: hsla(0, 0%, 80%);
    }
</style>
