---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Francisco Medinilla's website" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	*,
	*::bofore,
	*::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	:root {
		--accent: 235, 148, 35;
		--accent-light: 235, 215, 160;
		--accent-dark: 164, 89, 23;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 70%,
			white 60%
		);
	}

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		font-size: 100%;
	}

	body {
		margin: 0;
		padding: 0;
		height: 100vh;
	}
</style>
